* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-radius: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D8DBD6;
    font-size: 16px;
}

.top-bg {
    background-color: #009688;
    height: 110px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.container {
    max-width: 1024px;
    margin: 20px auto;
    display: flex;
    position: relative;
    z-index: 20;
}

.container > div {
    width: 50%;
    height: calc(100vh - 40px);
}

.users-content {
    background-color: red;
}

.chat-content {
    background-color: blue;
}

.my-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
    height: 50px;
    padding: 5px 10px 5px 5px;
}

.name {
    padding-left: 10px;
    font-size: 0.8rem;
    padding-top: 2px;
    color: #404f5e;
}

.my-info-avatar {
    display: flex;
    align-items: center;
    height: 100%;
}

.my-avatar {
    height: 100%;
}

.my-info-icons {
    color: #B1B1B1;
}

.my-info-icons i {
    padding: 0 8px;
}