* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Immagini */
img {
    max-width: 100%;
    border-radius: 100%;
}

/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D8DBD6;
    font-size: 16px;
}

/* Sfondo verde in alto */
.top-bg {
    background-color: #009688;
    height: 110px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

/* Container */
.container {
    max-width: 1024px;
    margin: 20px auto;
    display: flex;
    position: relative;
    z-index: 20;
}

/* Contenuto principale */
.container > div {
    height: calc(100vh - 40px);
}

/* Parte sinistra con lista users */
.users-content {
    width: 37%;
    background-color: red;
}

/* Parte destra con le chat */
.chat-content {
    width: 63%;
    background-color: blue;
}

/* Parte in alto a sinistra con info del mio profilo */
.my-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
    height: 50px;
    padding: 5px 10px 5px 5px;
}

.my-name {
    padding-left: 10px;
    font-size: 0.8rem;
    padding-top: 2px;
    color: #404f5e;
}

.my-info-avatar {
    display: flex;
    align-items: center;
    height: 100%;
}

.my-avatar {
    height: 100%;
}

.my-info-icons {
    color: #B1B1B1;
}

.my-info-icons i {
    padding: 0 8px;
}

/* Notifiche */
.notifications {
    display: flex;
    align-items: center;
    background-color: #8EDAFC;
    height: 60px;
    font-size: 0.7rem;
    padding: 10px;
}

/* Icona campana */
.notifications i {
    background-color: #fff;
    padding: 10px 8px;
    border-radius: 100%;
    color: #8EDAFC;
    font-size: 0.9rem;
}

.notifications a {
    display: block;
    color: #5D8597;
}

.desktop-notifications {
    padding-left: 10px;
}

/* Barra di ricerca */
.search-users {
    background-color: #f8f8f8;
    padding: 6px;
    position: relative;
}

.search-users i {
    position: absolute;
    color: #B7BABB;
    font-size: 0.8rem;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.input-search {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    border: 0;
    padding: 6px 3px 6px 70px;
    font-size: 0.7rem;
    color: #B7BABB;
}